<div class="navigationContainer">
	<div><a href="$!{request.contextPath}/mainsettings">Settings</a></div>
	<div><a href="$!{request.contextPath}/preview">Preview</a></div>
	<div><a href="$!{request.contextPath}/browse">Browse</a></div>
</div>
