<html>
	<head>
		<meta name="viewport" content="width=400" />
		<title>GP2Srv dev mode.</title>
		<link rel="stylesheet" type="text/css" href="/static/default.css" />
	</head>
	<body class="adminPage">
		<div class="fullWidth">
			<div class="pageHead">Admin</div>
			<div class="pageSubHead">
				Choose action
				<div class="actionLink"><a href="$!{request.contextPath}/devmode/rst">Re-read templates</a></div>
			</div>
		</div>
	</body>
</html>
