body {
	font-family: Helvetica, Sans-Serif;
	font-size: 14pt;
}

.small {
	font-size: 10pt;
}

.smaller {
	font-size: 8pt;
}

.smallest {
	font-size: 5pt;
}

.hidden {
	display: none;
}

.inlineBlock {
	display: inline-block;
}

.selectedButton {
	background-color: black;
	color: white;
}

.settingDisplayValueContainer {
	text-align: right;
	width: 100%;
}

.settingDisplayContainer {
	padding: 10px;
}

.siteContentElementContainer {
	padding: 10px;
}

.settingDisplayContainer:nth-child(odd) {
	background-color: #F0FFF0;
}
.settingDisplayContainer:nth-child(even) {
	background-color: #F0F0FF;
}

.tableCell {
	display: table-cell;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fullWidth {
	width: 100%;
}

.halfWidth {
	width: 50%;
}

.scroll {
	overflow: auto;
	white-space: nowrap;
}

.pageHead {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 24pt;
	padding: 14pt;
	text-transform:uppercase;
}

.pageSubHead {
	border: solid 1px black;
	background-color: white;
	color: black;
	padding: 10pt;
	font-size: 16pt;
}

.pageContent {
	border: solid 1px black;
	background-color: white;
	color: black;
	padding: 0pt;
	font-size: 14pt;	
}

.errorPage .pageHead {
	background-color: red;
}

.errorPage .pageSubHead {
	border: solid 1px red;
	color: red;
}

.actionLink {
	font-size: 14pt;
	line-height: 30pt;	
}

.headline, .navigationContainer a {
	font-weight: bold;
}

.buttonPanel, .stepContainer, .browseListItem {
	padding: 2px 10px 2px 10px;
}
.browseListItem.odd {
	background-color: #F0F0FF;
}
.browseListItem.even {
	background-color: #E0E0FF;
}
.browseNavigation a {
    color: white;
}
.browseNavigation {
    background-color: black;
    color: gray;
}
.subsectionHeading {
    background-color: black;
	color: white;
}
.activeStep, .activeStep .stepOrder {
	background-color: #99DD99 !important;
}
.stepOrder {
	display: inline-block;
	width: 40px;
	background-color: #BBBBBB;
	text-align: center;
}
.scriptStep {
	border: 0;
	margin: 2px;
	background-color: #EEEEEE;
}
.scriptContentTextarea {
	width: 100%;
	min-height: 200px;
}