body {
	font-family: Helvetica, Sans-Serif;
	font-size: 14pt;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.fullWidth {
	width: 100%;
}

.pageHead {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 24pt;
	padding: 14pt;
	text-transform:uppercase;
}

.pageSubHead {
	border: solid 1px black;
	background-color: white;
	color: black;
	padding: 10pt;
	font-size: 16pt;
}

.pageContent {
	border: solid 1px black;
	background-color: white;
	color: black;
	padding: 10pt;
	font-size: 14pt;	
}

.errorPage .pageHead {
	background-color: red;
}

.errorPage .pageSubHead {
	border: solid 1px red;
	color: red;
}

.actionLink {
	font-size: 14pt;
	line-height: 30pt;	
}