#parse("camera/head.vm")
<script>
	function saveFavedCamConf(key, value) {
		document.forms["favsettingform"]["key"].value=key;
		document.forms["favsettingform"]["value"].value=value;
		document.forms["favsettingform"].submit();
	}
</script>
#embedSettingChangeScriptAndForm("allsettings")
<form id="favsettingform" action="/favsetting" method="POST" style="display: none">
	<input type="hidden" name="key" />
	<input type="hidden" name="value" />
</form>	
#pageHead("Camera Control")
		<div>
			#foreach($settingEntry in $cameraConfig.entrySet())				
				#set($odd = $foreach.index % 2)
				#showSettingSelector($cameraConfig $settingEntry.key true $favouredCamConfSettings.keySet())
			#end
		</div>
#pageFoot()
#parse("camera/foot.vm")
