#parse("camera/head.vm")
#pageHead("Browse")

<form id="actForm" method="POST" action="" class="hidden">
	<input type="text" name="name" value="" />
	<input type="text" name="folder" value="" />
</form>
<script>
	function actFormSubmit(action, name, folder) {
		document.forms["actForm"].action = action;
		document.forms["actForm"]["name"].value = name;
		document.forms["actForm"]["folder"].value = folder;
		document.forms["actForm"].submit();
	}
	function dldpreview(name, folder) {
		actFormSubmit("$!request.contextPath/camfilepreview", name, folder)
	}
	function deletefile(name, folder) {
		if(confirm("Delete file "+name+"?")) {
			actFormSubmit("$!request.contextPath/deletefile", name, folder)
		}
	}
</script>
<div class="buttonPanel">
	<select onchange="javascript:window.location.href='browse?path='+encodeURIComponent(this.value)">
		#foreach($folder in $folderList)
			#set($fullPath = "$!{folder.path}$!{folder.name}")
			<option value="$fullPath" #if($currentBrowsePath == $fullPath) selected="selected" #end >${fullPath}</option>
		#end
	</select>
</div>
#if($filesList.size() > 0)
	#foreach($file in $filesList)
		#set($odd = $foreach.index % 2)		
		<div class="fullWidth scroll browseListItem #if($odd == 1) odd #else even #end">
			<a href="javascript:dldpreview('$!file.name', '$!file.path')"><span>$!{file.name}</span></a> 
			<span class="smaller">
				<a href="javascript:deletefile('$!file.name', '$!file.path')">delete</a>
			</span>
		</div>
	#end
#end

#pageFoot()
#parse("camera/foot.vm")
