#parse("camera/head.vm")
#pageHead("Browse")

<form id="actForm" method="POST" action="" class="hidden">
	<input type="text" name="name" value="" />
	<input type="text" name="folder" value="" />
</form>
<script>
	function actFormSubmit(action, name, folder) {
		document.forms["actForm"].action = action;
		document.forms["actForm"]["name"].value = name;
		document.forms["actForm"]["folder"].value = folder;
		document.forms["actForm"].submit();
	}
	function dldpreview(name, folder) {
		actFormSubmit("$!request.contextPath/camfilepreview", name, folder)
	}
	function deletefile(name, folder) {
		if(confirm("Delete file "+name+"?")) {
			actFormSubmit("$!request.contextPath/deletefile", name, folder)
		}
	}
</script>
#if($filesList.size() > 0)
	#foreach($file in $filesList)
		<div>
			#set($odd = $foreach.index % 2)							
			<div class="fullWidth browseList #if($odd == 1) odd #else even #end">
				<span>$!file.path</span>
				<a href="javascript:dldpreview('$!file.name', '$!file.path')"><span>$!file.name</span></a> 
				<span class="smaller">
					<a href="javascript:deletefile('$!file.name', '$!file.path')">delete</a>
				</span>
			</div>
		</div>				
	#end
#end

#pageFoot()
#parse("camera/foot.vm")
