#parse("camera/head.vm")

<div class="fullWidth">
	<div class="pageHead">Camera Control</div>
	<div class="pageSubHead">
		#parse("camera/navigation.vm")
	</div>
	<div class="pageContent scroll">
		#set($needsSeparator = false)
		#foreach($filesInFolder in $filesList.byFolder.entrySet())
			#if($filesInFolder.value.size()>0)
				#if($needsSeparator) <hr/> #end	
				#set($needsSeparator = true)
				<div>
					<div class="headline">$filesInFolder.key</div>
					<div>
						#foreach($fileRef in $filesInFolder.value)
							<div>
								<span>$fileRef.refId</span>
								-
								<span>$fileRef.filename</span> 
								// 
								<span>$fileRef.filesizestr</span> 
								[<span>$fileRef.filetypestr</span>]
							</div>
						#end
					</div>
				</div>				
			#end
		#end
	</div>
</div>
#parse("camera/foot.vm")
