#parse("camera/head.vm")
<script>
	var configRactives = [];
	
	function nav(elem) {
		$(".sitesection").hide();
		$("#section_"+elem).show();
	}
	
	function setFavOnlyView(viewFavOnly) {
		for(var i in configRactives) {
			configRactives[i].set("showOnlyFaved", viewFavOnly);
		}
	}
	
	function initUi() {
		var helpers = Ractive.defaults.data;
		helpers.lowercase = function(str) { return str?str.toLowerCase():str };
		helpers.uppercase = function(str) { return str?str.toUpperCase():str };
	
		$(".sitesection").hide();
		getJson("$!{request.contextPath}/cameraConfig.json?reRead=true", function(config) {
			console.log(config);
			getJson("$!{request.contextPath}/favedConfigs.json?", function(favedConfigs) {
				console.log(favedConfigs);
				var section_set = $("#section_set");
				section_set.html('<div>Show faved only <input type="checkbox" onchange="setFavOnlyView(this.checked)"></input></div>');
				var idx = 0;
				for(var confPath in config) {
					idx++;
					var confEntry = config[confPath];
					confEntry.faved = favedConfigs[confEntry.path];
					var containerId = 'section_set_configelement_' + confEntry.id;
					var container = $('<div id="' + containerId + '" class="settingDisplayContainerContainer"></div>');
					section_set.append(container);
				    var ractive = new Ractive({
						el: '#' + container.attr('id'),
						template: '#tplCameraConfigSetting',
						data: {confEntry: confEntry, showFavToggle: true, favInProgress: false, favError: false}
					});
					configRactives.push(ractive);
					ractive.on({
						handleChange: function(event, elem, val) {
							var ractive = this;
							var confEntry = this.get("confEntry");
							if(val === undefined) {
								if(confEntry.intValue === 0) {
									val = 0;
								} else {
									val = confEntry.intValue || confEntry.strValue || confEntry.floatValue;
								}
							}
							if(confEntry.valueType == "INT") {
								confEntry.intValue = val;
							} else if(confEntry.valueType == "FLOAT") {
								confEntry.floatValue = val;
							} else if(confEntry.valueType == "STRING") {
								confEntry.strValue = val;
							}
							var url = "$!{request.contextPath}/allsettingset";
							ractive.set("setError", false);
							ractive.set("setInProgress", true);
							ractive.set("confEntry", confEntry);
							
							$.ajax({
								method: "POST",
								cache: false,
								url: url,
								data: {
									type: confEntry.type,
									key: confEntry.path,
									value: val
								}
							}).fail(function(jqXHR, textStatus) {
								ractive.set("setInProgress", false);
								ractive.set("setError", true);
								console.log("Error " + jqXHR.status + " on setting faved status for camera config entry: " + jqXHR.statusText);
							}).done(function(data) {
								ractive.set("setInProgress", false);
								var confEntry = ractive.get("confEntry");
								confEntry.faved = (data === true);
								ractive.set("confEntry", confEntry);
							});							
						},
						handleFav: function(event) {
							var ractive = this;
							var favPath = this.get("confEntry").path;
							var favVal = event.node.checked ? "true":"false";
							var url = "$!{request.contextPath}/favsetting?key=" + encodeURIComponent(favPath)
									+ "&value=" + encodeURIComponent(favVal);
							ractive.set("favError", false);
							ractive.set("favInProgress", true);
							$.ajax({
								method: "POST",
								cache: false,
								url: url
							}).fail(function(jqXHR, textStatus) {
								ractive.set("favInProgress", false);
								ractive.set("favError", true);
								console.log("Error " + jqXHR.status + " on setting faved status for camera config entry: " + jqXHR.statusText);
							}).done(function(data) {
								ractive.set("favInProgress", false);
								var confEntry = ractive.get("confEntry");
								confEntry.faved = (data===true);
								ractive.set("confEntry", confEntry);
							});
						}
					});
				}
			}, function() { alert('Error loading faved config elements.') });
		}, function() { alert('Error loading config.') });
	}
	
	function getJson(url, successCallback, errorCallback) {
		$.ajax({
			cache: false,
			url: url
		}).done(function(data) {
			successCallback(data);
		}).fail(function(jqXHR, textStatus) {
			console.error("Error obtaining JSON from "+url+". " + textStatus);
			if(errorCallback) {
				errorCallback(textStatus);
			}
		});	
	}
	
	$(document).ready(initUi);
</script>
#set( $HASH = '#' )
<script type="text/ractive" id="tplCameraConfigSetting">
	{{${HASH}if confEntry.faved || !showOnlyFaved}}
	<div class="scroll settingDisplayContainer">
		<div>
			<span class="headline">{{confEntry.label}}</span>
			{{${HASH}if showFavToggle}}
				<span class="favToggleContainer">
					{{${HASH}if !favInProgress}}
						<input type="checkbox" {{${HASH}if confEntry.faved}} checked="checked" {{/if}} on-change="handleFav" />
					{{/if}}
					{{${HASH}if favInProgress}}
						<img class="favToggleLoadingIndicator" src="$!{request.contextPath}/static/ajax-loader.gif" />
					{{/if}}
					{{${HASH}favError}}
						<img class="favToggleWarningIcon" src="$!{request.contextPath}/static/warning.png" />
					{{/favError}}
				</span>
			{{/if}}
		</div>
		<div>
			<span class="smallest">
				[<span>{{confEntry.type}}</span>: <span>{{confEntry.path}}</span>]
			</span>
		</div>
		<div class="fullWidth">
			<div class="settingDisplayValueContainer">{{confEntry.strValue}}{{confEntry.intValue}}{{confEntry.floatValue}}</div>
			{{${HASH}if lowercase(confEntry.type) == "range"}}
				<div class="settingDisplayValueContainer">From {{confEntry.bottom}} to {{confEntry.top}}, step {{confEntry.step}}</div>
			{{/if}}
			<div class="tableCell">
				{{${HASH}if !setInProgress}}
					<input type="button" value="Set" on-click="handleChange" />
				{{/if}}
				{{${HASH}if setInProgress}}
					<img class="setLoadingIndicator" src="$!{request.contextPath}/static/ajax-loader.gif" />
				{{/if}}
				{{${HASH}setError}}
					<img class="setWarningIcon" src="$!{request.contextPath}/static/warning.png" />
				{{/setError}}		
			</div>		
			<div class="tableCell fullWidth">
				{{${HASH}if lowercase(confEntry.type) == "radio" || lowercase(confEntry.type) == "menu" }}
					<select class="fullWidth" on-change="@this.fire('handleChange', event, this, event.node.value)">
						{{${HASH}confEntry.choices:idx}}
							<option value="{{.}}" {{${HASH}if confEntry.strValue == . }} selected="selected" {{/if}}>{{.}}</option>
						{{/choices}}
					</select>
				{{elseif lowercase(confEntry.type) == "toggle" }}
					<div class="inlineBlock halfWidth"><!--
						--><input class="fullWidth {{${HASH}if confEntry.intValue == 1}} selectedButton {{/if}}" type="button" value="On" on-click="@this.fire('handleChange', event, this, 1)" /><!--
					--></div><!--
					--><div class="inlineBlock halfWidth"><!--
						--><input class="fullWidth {{${HASH}if confEntry.intValue === 0}} selectedButton {{/if}}" type="button" value="Off" on-click="@this.fire('handleChange', event, this, 0)" /><!--
					--></div>
				{{elseif lowercase(confEntry.type) == "text" || lowercase(confEntry.type) == "date" || lowercase(confEntry.type) == "range" }}
					<input class="fullWidth" type="text" on-change="@this.fire('handleChange', event, this, event.node.value)" value="{{confEntry.intValue}}{{confEntry.floatValue}}{{confEntry.strValue}}" />
				{{/if}}
			</div>
		</div>
	</div>
	{{/if}}
</script>
<div class="fullWidth">
	<div class="pageHead">GPhoto2Server</div>
	<div class="pageSubHead">
		<div class="navigationContainer">
			#foreach($navopt in ["set", "view", "browse", "script"])
				#if($foreach.count>1)
					|
				#end
				<span><a href="#$!navopt" onclick="javascript:nav('$!navopt');return false">$!navopt</a></span>
			#end
		</div>
	</div>
	<div class="sitesection pageContent scroll" id="section_set">
		set
	</div>
	<div class="sitesection pageContent scroll" id="section_view">
		view
	</div>
	<div class="sitesection pageContent scroll" id="section_browse">
		browse
	</div>
	<div class="sitesection pageContent scroll" id="section_script">
		script
	</div>
</div>
#parse("camera/foot.vm")
