<div class="navigationContainer">
	<span><a href="$!{request.contextPath}/allsettings">settings</a></span>
	|
	<span><a href="$!{request.contextPath}/preview">preview</a></span>
	|
	<span><a href="$!{request.contextPath}/browse">browse</a></span>
</div>
