<div class="navigationContainer">
	<span><a href="$!{request.contextPath}/allsettings">Settings</a></span>
	|
	<span><a href="$!{request.contextPath}/preview">Preview</a></span>
	|
	<span><a href="$!{request.contextPath}/browse">Browse</a></span>
</div>
