#parse("camera/head.vm")

<div class="fullWidth">
	<div class="pageHead">Camera Control</div>
	<div class="pageSubHead">
		#parse("camera/navigation.vm")
	</div>
	<div class="pageContent">
		<div>
			<form class="inlineBlock" id="refreshPreview" method="POST" action="$!request.contextPath/refreshpreview">
				<input type="submit" value="Capture preview" />
			</form>
			<form class="inlineBlock" id="refreshPreview" method="POST" action="$!request.contextPath/captureandrefreshpreview">
				<input type="submit" value="Capture image" />
			</form>			
		</div>
		<div>
			<div>Last capture:</div>
			<div>
				#set($previewUrl = "/img/thumb.jpg?t=$!currentTimeMillis")
				<a href="$previewUrl" target="_blank"><img class="fullWidth" src="$previewUrl" /></a>
			</div>
		</div>
	</div>	
</div>
#parse("camera/foot.vm")
