#parse("camera/head.vm")

<div class="fullWidth">
	<div class="pageHead">Camera Control</div>
	<div class="pageSubHead">
		#parse("camera/navigation.vm")
	</div>
	<div class="pageContent">
		<div>
			<a href="$!request.contextPath/refreshpreview">Capture new</a>
		</div>
		<div>
			<div>Last capture:</div>
			<div>
				#set($previewUrl = "/img/thumb.jpg?t=$!currentTimeMillis")
				<a href="$previewUrl" target="_blank"><img class="fullWidth" src="$previewUrl" /></a>
			</div>
		</div>
	</div>	
</div>
#parse("camera/foot.vm")
